<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='image/logo.png') }}">
    <title>Conference Suggestions</title>
</head>

<script>
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            document.getElementById("backToTopBtn").style.display = "block";
        } else {
            document.getElementById("backToTopBtn").style.display = "none";
        }
    }

    function scrollToTop() {
        document.body.scrollTop = 0;
        document.documentElement.scrollTop = 0;
        const articlesList = document.getElementById('articlesList');
        articlesList.style.display = "none";
        document.getElementById('toggleArticles').innerHTML = '<i class="fa fa-chevron-down"></i>'; // Đặt biểu tượng thành mũi tên chỉ xuống
    }
</script>

<body class="home">
    <div class="background-image">
        <div class="head">
            <img style="height:70px; width:70px; position: absolute; left:10px; top:-5px"
                    src="{{ url_for('static', filename='image/LG.ico') }}" alt="Logo">
            <p class="brand"></i> BCORES</p>
            <a href="/about" class="bt-head">About</a>
            <a href="/" class="bt-head-main">
                <i style="font-size:1.5rem;" class="fa-solid fa-house-chimney-window"></i>
            </a>
            <a href="/contact" class="bt-head">Contact</a>
            <a href="/login" class="bt-admin"><i class="fa-solid fa-user-shield"></i></a>
        </div>

        <button onclick="scrollToTop()" id="backToTopBtn" title="Về đầu trang"><i class="fa-regular fa-circle-up"></i></button>

        <img style="height:85px; width:85px; position: absolute; top: 100px; left: 49.5%; transform: translateX(-50%); z-index: 3; border:3px solid #fff; border-radius: 50%; box-shadow: 0px 4px 10px rgba(255, 255, 255, 0.8); transition: transform 0.3s ease;" 
                src="{{ url_for('static', filename='image/LG.ico') }}" alt="Logo"
                onmouseover="this.style.transform='translateX(-50%) scale(1.1)';"
                onmouseout="this.style.transform='translateX(-50%) scale(1)';">

        <img src="{{ url_for('static', filename='image/anhnen10.jpg') }}" alt="Hình nền">

        <div class="container1">

        <div class="filter-toggle" onclick="toggleFilterSidebar()">
            <p style="color:white"><u>Search with filter</u></p>
            <button class="bt-open"><i class="fa-solid fa-angle-left"></i></button>
        </div>

        <div id="filterSidebar" class="filter-sidebar">
            <h2 style="font-size:1.7rem; text-align:center; margin-top:0px; margin-bottom:15px; color:#007bff">Filters For Search</h2>

            <div style="border: 1px solid #555; padding-left:10px; border-radius:5px">
                <h3 style="margin:10px 0px 10px 0px">Rank</h3>
                <label class="custom-checkbox">
                    <input type="checkbox" name="rank[]" value="A" onchange="handleCheckboxChange(this)"> A
                    <span style="padding-left:10px; font-size: 13px; color: #333; font-weight:bold; text-shadow:none"> - Excellence in the field</span>
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" name="rank[]" value="B" onchange="handleCheckboxChange(this)"> B
                    <span style="padding-left:10px; font-size: 13px; color: #333; font-weight:bold; text-shadow:none"> - Good reputation in the field</span>
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" name="rank[]" value="C" onchange="handleCheckboxChange(this)"> C
                    <span style="padding-left:10px; font-size: 13px; color: #333; font-weight:bold; text-shadow:none"> - Suitable for new research</span>
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" name="rank[]" value="Not ranked" onchange="handleCheckboxChange(this)"> Not ranked
                </label>
            </div>

            <div style="margin-top:20px; margin-bottom:20px; border:1px solid #555; padding-left:10px; padding-right:10px; border-radius:5px">
                <h3 style="margin:10px 0px 10px 0px">Field</h3>
                <select id="field" name="field" onchange="applyFilter()" style="width:100%; height:30px; margin:0px 10px 10px 0px; border-radius:5px">
                    <option value="" {% if selected_field is none %}selected{% endif %}>...</option>
                    <option value="Building" {% if selected_field == 'Building' %}selected{% endif %}>Building</option>
                    <option value="Artificial Intelligence and Image Processing" {% if selected_field == 'Artificial Intelligence and Image Processing' %}selected{% endif %}>Artificial Intelligence and Image Processing</option>
                    <option value="Computation Theory and Mathematics" {% if selected_field == 'Computation Theory and Mathematics' %}selected{% endif %}>Computation Theory and Mathematics</option>
                    <option value="Information Systems" {% if selected_field == 'Information Systems' %}selected{% endif %}>Information Systems</option>
                    <option value="Computer Software" {% if selected_field == 'Computer Software' %}selected{% endif %}>Computer Software</option>
                    <option value="Information and Computing Sciences" {% if selected_field == 'Information and Computing Sciences' %}selected{% endif %}>Information and Computing Sciences</option>
                    <option value="Computer Hardware" {% if selected_field == 'Computer Hardware' %}selected{% endif %}>Computer Hardware</option>
                    <option value="Communications Technologies" {% if selected_field == 'Communications Technologies' %}selected{% endif %}>Communications Technologies</option>
                    <option value="Distributed Computing" {% if selected_field == 'Distributed Computing' %}selected{% endif %}>Distributed Computing</option>
                    <option value="Design Practice and Management" {% if selected_field == 'Design Practice and Management' %}selected{% endif %}>Design Practice and Management</option>
                    <option value="Data Format" {% if selected_field == 'Data Format' %}selected{% endif %}>Data Format</option>
                    <option value="Other Information and Computing Sciences" {% if selected_field == 'Other Information and Computing Sciences' %}selected{% endif %}>Other Information and Computing Sciences</option>
                    <option value="Aerospace Engineering" {% if selected_field == 'Aerospace Engineering' %}selected{% endif %}>Aerospace Engineering</option>
                    <option value="Mechanical Engineering" {% if selected_field == 'Mechanical Engineering' %}selected{% endif %}>Mechanical Engineering</option>
                    <option value="Civil Engineering" {% if selected_field == 'Civil Engineering' %}selected{% endif %}>Civil Engineering</option>
                    <option value="Geomatic Engineering" {% if selected_field == 'Geomatic Engineering' %}selected{% endif %}>Geomatic Engineering</option>
                    <option value="Manufacturing Engineering" {% if selected_field == 'Manufacturing Engineering' %}selected{% endif %}>Manufacturing Engineering</option>
                    <option value="Other Engineering" {% if selected_field == 'Other Engineering' %}selected{% endif %}>Other Engineering</option>
                    <option value="Architecture" {% if selected_field == 'Architecture' %}selected{% endif %}>Architecture</option>
                    <option value="Resources Engineering and Extractive Metallurgy" {% if selected_field == 'Resources Engineering and Extractive Metallurgy' %}selected{% endif %}>Resources Engineering and Extractive Metallurgy</option>
                    <option value="Maritime Engineering" {% if selected_field == 'Maritime Engineering' %}selected{% endif %}>Maritime Engineering</option>
                    <option value="Urban and Regional Planning" {% if selected_field == 'Urban and Regional Planning' %}selected{% endif %}>Urban and Regional Planning</option>
                    <option value="Automotive Engineering" {% if selected_field == 'Automotive Engineering' %}selected{% endif %}>Automotive Engineering</option>
                    <option value="Environmental Engineering" {% if selected_field == 'Environmental Engineering' %}selected{% endif %}>Environmental Engineering</option>
                    <option value="Technology" {% if selected_field == 'Technology' %}selected{% endif %}>Technology</option>
                    <option value="Built Environment and Design" {% if selected_field == 'Built Environment and Design' %}selected{% endif %}>Built Environment and Design</option>
                    <option value="Other Built Environment and Design" {% if selected_field == 'Other Built Environment and Design' %}selected{% endif %}>Other Built Environment and Design</option>
                    <option value="Interdisciplinary Engineering" {% if selected_field == 'Interdisciplinary Engineering' %}selected{% endif %}>Interdisciplinary Engineering</option>
                </select>
            </div>

            <button class="cancel-button" onclick="handleCancelFilter()" style="font-size:1rem">Cancel Filter</button>
        </div>

        <script>
            function handleCheckboxChange(selectedCheckbox) {
                const checkboxes = document.querySelectorAll('input[name="rank[]"]');
                checkboxes.forEach(checkbox => {
                    if (checkbox !== selectedCheckbox) {
                        checkbox.checked = false;
                    }
                });
                applyFilter();
            }

            function applyFilter() {
                const ranks = Array.from(document.querySelectorAll('input[name="rank[]"]:checked')).map(input => input.value);
                const selectedField = document.querySelector('select[name="field"]').value;

                document.getElementById('hiddenRanksTitle').value = ranks.join(',');
                document.getElementById('hiddenFieldTitle').value = selectedField;
                document.getElementById('hiddenRanksAbstract').value = ranks.join(',');
                document.getElementById('hiddenFieldAbstract').value = selectedField;
            }

            document.getElementById('titleForm').onsubmit = applyFilter;
            document.getElementById('abstractForm').onsubmit = applyFilter;

            function cancelFilter() {
                const checkboxes = document.querySelectorAll('input[name="rank[]"]');
                checkboxes.forEach(checkbox => {
                    checkbox.checked = false;
                });

                document.querySelector('select[name="field"]').selectedIndex = 0;

                applyFilter();

                toggleFilterSidebar();
            }

            function handleCancelFilter() {
                const checkboxes = document.querySelectorAll('input[name="rank[]"]');
                checkboxes.forEach(checkbox => {
                    checkbox.checked = false;
                });
                document.querySelector('select[name="field"]').selectedIndex = 0; // Giả sử tùy chọn đầu tiên là "..."

                applyFilter();
                toggleFilterSidebar();
            }

            function toggleFilterSidebar() {
                const sidebar = document.getElementById("filterSidebar");
                const filterToggle = document.querySelector(".filter-toggle");
                sidebar.classList.toggle("active");
                filterToggle.classList.toggle("hidden");
            }
        </script>

            <marquee behavior="scroll" direction="left" style="color: white; font-size: 17px; padding: 10px;">
                Welcome to the Scientific Paper Conference Recommendation System
            </marquee>

            <div id="overlay"></div>

            <div id="error-message-box">
                <strong><p style="font-size:1.2rem; text-shadow:none; margin-top:5px">Please fill in both Title and Abstract before searching.</p></strong>
                <button id="close-btn" onclick="closeErrorMessage()" style="font-size:1rem"><b>Close</b></button>
            </div>

            <form id="titleForm" method="POST" action="/recommend">
                <div class="search-container">
                    <input type="text" id="input1" name="title_input" placeholder="Enter the title of the article..." required>
                    <button type="submit" class="search-button" title="Search with Title">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <input type="hidden" id="hiddenRanksTitle" name="ranks">
                <input type="hidden" id="hiddenFieldTitle" name="selected_field">
            </form>

            <form id="abstractForm" method="POST" action="/recommend_abstract" onsubmit="applyFilter()">
                <div class="search-container2">
                    <textarea style="resize: none; font-family: Arial, sans-serif" id="input2" name="abstract_input" placeholder="Enter the abstract of the article..." required rows="4" cols="50"></textarea>
                    <button type="submit" class="search-button2" title="Search with Abstract">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <input type="hidden" id="hiddenRanksAbstract" name="ranks">
                <input type="hidden" id="hiddenFieldAbstract" name="selected_field">
            </form>

            <div class="search-container3">
                <button type="button" class="search-button-both" title="Search with Title and Abstract" onclick="searchBoth()">
                    <i class="fa fa-search"></i>
                    Search
                </button>
            </div>
        </div>
        
        <script>
            function searchBoth() {
                const titleInput = document.getElementById('input1').value.trim();
                const abstractInput = document.getElementById('input2').value.trim();
                const overlay = document.getElementById('overlay');
                const errorMessageBox = document.getElementById('error-message-box');

                if (titleInput === "" || abstractInput === "") {
                    overlay.style.display = 'block';
                    errorMessageBox.style.display = 'block';

                } else {
                    overlay.style.display = 'none';
                    errorMessageBox.style.display = 'none';
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '/recommend_both';

                    const inputTitle = document.createElement('input');
                    inputTitle.type = 'hidden';
                    inputTitle.name = 'title_input';
                    inputTitle.value = titleInput;
                    form.appendChild(inputTitle);
            
                    const inputAbstract = document.createElement('input');
                    inputAbstract.type = 'hidden';
                    inputAbstract.name = 'abstract_input';
                    inputAbstract.value = abstractInput;
                    form.appendChild(inputAbstract);
            
                    const ranks = document.getElementById('hiddenRanksTitle').value;
                    const inputRanks = document.createElement('input');
                    inputRanks.type = 'hidden';
                    inputRanks.name = 'ranks';
                    inputRanks.value = ranks;
                    form.appendChild(inputRanks);
            
                    const selectedField = document.getElementById('hiddenFieldTitle').value;
                    const inputField = document.createElement('input');
                    inputField.type = 'hidden';
                    inputField.name = 'selected_field';
                    inputField.value = selectedField;
                    form.appendChild(inputField);
            
                    document.body.appendChild(form);
                    form.submit();
                }
            }

            function closeErrorMessage() {
                document.getElementById('overlay').style.display = 'none';
                document.getElementById('error-message-box').style.display = 'none';
                document.body.style.overflow = 'auto';
            }
        </script>

        <div>
            <button id="toggleArticles" class="toggle-button" onclick="toggleArticles()">
                <i class="fa fa-chevron-down"></i>
            </button>
            <p id="toggleArticles" onclick="toggleArticles()" class="toggle">
                <u>Some reference articles</u></p>
        </div>
    </div>

    <div id="articlesList" style="display: none; padding: 20px;">
        <h2 id="reference-articles" style="font-size:1.7rem; margin-top:0px; padding-left:30px">
            Reference Articles <i class="fa-regular fa-newspaper" style="font-size:1.8rem"></i></h2>
        {% if articles %}
            <ul>
                {% for article in articles %}
                <li style="margin:10px 180px 20px 180px; padding:20px; border:none">
                        <a style="font-size:1.2rem; text-decoration: none;  transform:none; color: inherit; font-size: inherit; padding: 10px 10px 10px 20px; margin-top: 10px; margin-bottom: 10px"
                            href="{{ url_for('find_conference', article_id=loop.index0) }}" title="Click to find suggested conferences">
                            <b style="font-size:1.2rem">{{ article['Title'] }}</b></a>
                    <br>
                    <p class="abstract-text" style="padding: 0px 30px 0px 30px; text-indent: 2em; text-align: justify;">
                        {{ article['Abstract'] }}</p>
                </li>
                {% endfor %}
            </ul>

            <div class="pagination">
                {% if total_pages > 1 %}
                    {% if page > 1 %}
                        <a href="{{ url_for('index', page=page - 1) }}#articlesList"><i class="fa-solid fa-angle-left"></i></a>
                    {% endif %}
                    <a href="{{ url_for('index', page=1) }}#articlesList" class="{{ 'active' if page == 1 else '' }}">1</a>
                    {% if page > 3 %}
                        <span style="border:none">...</span>
                    {% endif %}
                    {% for p in range(page - 1, page + 2) %}
                        {% if p > 1 and p < total_pages %}
                            <a href="{{ url_for('index', page=p) }}#articlesList" class="{{ 'active' if page == p else '' }}">{{ p }}</a>
                        {% endif %}
                    {% endfor %}
                    {% if page < total_pages - 2 %}
                        <span style="border:none">...</span>
                    {% endif %}
                    <a href="{{ url_for('index', page=total_pages) }}#articlesList" class="{{ 'active' if page == total_pages else '' }}">{{ total_pages }}</a>
                    {% if page < total_pages %}
                        <a href="{{ url_for('index', page=page + 1) }}#articlesList"><i class="fa-solid fa-angle-right"></i></a>
                    {% endif %}
                {% endif %}
            </div>
    
        {% else %}
            <p>There are no articles to display!</p>
        {% endif %}
    </div>
    
    <script>
        function toggleArticles() {
            const articlesList = document.getElementById('articlesList');
            if (articlesList.style.display === "none" || articlesList.style.display === "") {
                articlesList.style.display = "block";
                document.getElementById('toggleArticles').innerHTML = '<i class="fa fa-chevron-up"></i>';
                articlesList.scrollIntoView({ behavior: 'smooth' });
            } else {
                articlesList.style.display = "none";
                document.getElementById('toggleArticles').innerHTML = '<i class="fa fa-chevron-down"></i>';
            }
        }

        window.onload = function() {
            const hash = window.location.hash;

            if (hash === "#articlesList") {
                const articlesList = document.getElementById('articlesList');
                articlesList.style.display = "block";
                const referenceArticles = document.getElementById('reference-articles');
                referenceArticles.scrollIntoView({ behavior: 'smooth' });
            }
        }
    </script>

    
    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <img style="height:70px; width:70px;" src="{{ url_for('static', filename='image/LG.ico') }}" alt="Logo">
            </div>
            <div class="footer-right">
                <div class="socials" style="color:white">
                    <a href="https://www.facebook.com" style="margin-right: 15px;"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-content2">
            <a style="font-size:17px; background: none; border: none;display: inline; margin-top: 0px;"
                href="/about">About</a>
            <a style="font-size:17px; background: none; border: none;display: inline; margin-top: 0px;"
                href="/legal">Legal</a>
            <a style="font-size:17px; background: none; border: none;display: inline; margin-top: 0px;"
                href="/contact">Contact</a>
        </div>

        <div class="footer-text" style="text-align: center; margin-top: 5px;">
            <p style="color:#bebebe">BCORES is powered by the research community. And it’s free, now and forever.</p>
            <p style="color:#bebebe">&copy; 2024 Conference Suggestions. Designed by GHD. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
