<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='image/logo.png') }}">
    <title>Conference Suggestions</title>
</head>

<script>
    // Hiển thị nút khi cuộn xuống 20px
    window.onscroll = function() {scrollFunction()};

    function scrollFunction() {
        if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
            document.getElementById("backToTopBtn").style.display = "block";
        } else {
            document.getElementById("backToTopBtn").style.display = "none";
        }
    }

    // Hàm cuộn lên đầu trang
    function scrollToTop() {
        document.body.scrollTop = 0; // Dành cho Safari
        document.documentElement.scrollTop = 0; // Dành cho Chrome, Firefox, IE và Opera
        
        // Ẩn danh sách bài báo khi cuộn lên đầu trang
        const articlesList = document.getElementById('articlesList');
        articlesList.style.display = "none"; // Ẩn danh sách bài báo
        document.getElementById('toggleArticles').innerHTML = '<i class="fa fa-chevron-down"></i>'; // Đặt biểu tượng thành mũi tên chỉ xuống
    }
</script>

<body class="home">
    <div class="background-image">
        <div class="head">
            <img style="height:70px; width:70px; position: absolute; left:10px; top:-5px"
                    src="{{ url_for('static', filename='image/LG.ico') }}" alt="Logo">
            <p class="brand"></i> GatherConf</p> <!-- Thêm biểu tượng thương hiệu -->
            <nav>
                <ul>
                    <li><a href="/about">About</a></li>
                    <li><a href="/" class="highlight">Home</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </nav>
        </div>

        <button onclick="scrollToTop()" id="backToTopBtn" title="Về đầu trang"><i class="fa-regular fa-circle-up"></i></button>

        <!-- Logo ở giữa trang, trên thanh tìm kiếm -->
        <img style="height:80px; width:80px; position: absolute; top: 120px; left: 49.5%; transform: translateX(-50%); z-index: 3; border:3px solid #fff; border-radius: 50%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); transition: transform 0.3s ease;" 
                src="{{ url_for('static', filename='image/LG.ico') }}" alt="Logo"
                onmouseover="this.style.transform='translateX(-50%) scale(1.1)';"
                onmouseout="this.style.transform='translateX(-50%) scale(1)';">

        <img src="{{ url_for('static', filename='image/anhnen10.jpg') }}" alt="Hình nền">

        <div class="container1">

        <!--
        <button class="filter-toggle" onclick="toggleFilterSidebar()">Search with Filter</button> -->
        <div class="filter-toggle" onclick="toggleFilterSidebar()">
            <p style="color:white"><u>Search with filter</u></p>
            <button class="bt-open"><i class="fa-solid fa-angle-left"></i></button>
        </div>

        <!-- Thanh lọc bên phải -->
        <div id="filterSidebar" class="filter-sidebar">
            <h2 style="font-size:1.7rem; text-align:center; margin-top:0px; margin-bottom:15px; color:#007bff">Filters For Search</h2>
            
            <div style="border: 1px solid #555; padding-left:10px; border-radius:5px">
                <h3 style="margin:10px 0px 10px 0px">Rank
                    <!-- <span style="font-size:1.2rem; font-weight:normal; text-shadow:none">(ICORE)</span> -->
                </h3>
                <label class="custom-checkbox">
                    <input type="checkbox" name="rank[]" value="A" onchange="applyFilter()"> A
                    <span style="padding-left:10px; font-size: 14px; color: #333; font-weight:bold; text-shadow:none"> - Excellence in the field</span>
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" name="rank[]" value="B" onchange="applyFilter()"> B
                    <span style="padding-left:10px; font-size: 14px; color: #333; font-weight:bold; text-shadow:none"> - Good reputation in the field</span>
                </label>
                <label class="custom-checkbox">
                    <input type="checkbox" name="rank[]" value="C" onchange="applyFilter()"> C
                    <span style="padding-left:10px; font-size: 14px; color: #333; font-weight:bold; text-shadow:none"> - Suitable for new research</span>
                </label>
            </div>
            

            <div style="margin-top:20px; margin-bottom:20px; border:1px solid #555; padding-left:10px; padding-right:10px; border-radius:5px">
                <h3 style="margin:10px 0px 10px 0px">Topic</h3>
                <select id="field" name="field" onchange="applyFilter()" style="width:100%; height:30px; margin:0px 10px 10px 0px; border-radius:5px">
                    <option value="" {% if selected_field is none %}selected{% endif %}>...</option>
                    <option value="Building" {% if selected_field == 'Building' %}selected{% endif %}>Building</option>
                    <option value="Artificial Intelligence and Image Processing" {% if selected_field == 'Artificial Intelligence and Image Processing' %}selected{% endif %}>Artificial Intelligence and Image Processing</option>
                    <option value="Computation Theory and Mathematics" {% if selected_field == 'Computation Theory and Mathematics' %}selected{% endif %}>Computation Theory and Mathematics</option>
                    <option value="Information Systems" {% if selected_field == 'Information Systems' %}selected{% endif %}>Information Systems</option>
                    <option value="Computer Software" {% if selected_field == 'Computer Software' %}selected{% endif %}>Computer Software</option>
                    <option value="Information and Computing Sciences" {% if selected_field == 'Information and Computing Sciences' %}selected{% endif %}>Information and Computing Sciences</option>
                    <option value="Computer Hardware" {% if selected_field == 'Computer Hardware' %}selected{% endif %}>Computer Hardware</option>
                    <option value="Communications Technologies" {% if selected_field == 'Communications Technologies' %}selected{% endif %}>Communications Technologies</option>
                    <option value="Distributed Computing" {% if selected_field == 'Distributed Computing' %}selected{% endif %}>Distributed Computing</option>
                    <option value="Design Practice and Management" {% if selected_field == 'Design Practice and Management' %}selected{% endif %}>Design Practice and Management</option>
                    <option value="Data Format" {% if selected_field == 'Data Format' %}selected{% endif %}>Data Format</option>
                    <option value="Other Information and Computing Sciences" {% if selected_field == 'Other Information and Computing Sciences' %}selected{% endif %}>Other Information and Computing Sciences</option>
                    <option value="Aerospace Engineering" {% if selected_field == 'Aerospace Engineering' %}selected{% endif %}>Aerospace Engineering</option>
                    <option value="Mechanical Engineering" {% if selected_field == 'Mechanical Engineering' %}selected{% endif %}>Mechanical Engineering</option>
                    <option value="Civil Engineering" {% if selected_field == 'Civil Engineering' %}selected{% endif %}>Civil Engineering</option>
                    <option value="Geomatic Engineering" {% if selected_field == 'Geomatic Engineering' %}selected{% endif %}>Geomatic Engineering</option>
                    <option value="Manufacturing Engineering" {% if selected_field == 'Manufacturing Engineering' %}selected{% endif %}>Manufacturing Engineering</option>
                    <option value="Other Engineering" {% if selected_field == 'Other Engineering' %}selected{% endif %}>Other Engineering</option>
                    <option value="Architecture" {% if selected_field == 'Architecture' %}selected{% endif %}>Architecture</option>
                    <option value="Resources Engineering and Extractive Metallurgy" {% if selected_field == 'Resources Engineering and Extractive Metallurgy' %}selected{% endif %}>Resources Engineering and Extractive Metallurgy</option>
                    <option value="Maritime Engineering" {% if selected_field == 'Maritime Engineering' %}selected{% endif %}>Maritime Engineering</option>
                    <option value="Urban and Regional Planning" {% if selected_field == 'Urban and Regional Planning' %}selected{% endif %}>Urban and Regional Planning</option>
                    <option value="Automotive Engineering" {% if selected_field == 'Automotive Engineering' %}selected{% endif %}>Automotive Engineering</option>
                    <option value="Environmental Engineering" {% if selected_field == 'Environmental Engineering' %}selected{% endif %}>Environmental Engineering</option>
                    <option value="Technology" {% if selected_field == 'Technology' %}selected{% endif %}>Technology</option>
                    <option value="Built Environment and Design" {% if selected_field == 'Built Environment and Design' %}selected{% endif %}>Built Environment and Design</option>
                    <option value="Other Built Environment and Design" {% if selected_field == 'Other Built Environment and Design' %}selected{% endif %}>Other Built Environment and Design</option>
                    <option value="Interdisciplinary Engineering" {% if selected_field == 'Interdisciplinary Engineering' %}selected{% endif %}>Interdisciplinary Engineering</option>
                </select>
            </div>

            <button class="cancel-button" onclick="handleCancelFilter()">Cancel Filter</button>
        </div>
        
        <script>
            function applyFilter() {
                const ranks = Array.from(document.querySelectorAll('input[name="rank[]"]:checked')).map(input => input.value);
                const selectedField = document.querySelector('select[name="field"]').value;
        
                // Áp dụng giá trị lọc cho cả hai form
                document.getElementById('hiddenRanksTitle').value = ranks.join(',');
                document.getElementById('hiddenFieldTitle').value = selectedField;
                document.getElementById('hiddenRanksAbstract').value = ranks.join(',');
                document.getElementById('hiddenFieldAbstract').value = selectedField;
            }
        
            // Gọi applyFilter khi nhấn submit
            document.getElementById('titleForm').onsubmit = applyFilter;
            document.getElementById('abstractForm').onsubmit = applyFilter;

            // Hàm hủy bộ lọc và khôi phục tìm kiếm bình thường
            function cancelFilter() {
                // Bỏ chọn tất cả checkbox
                const checkboxes = document.querySelectorAll('input[name="rank[]"]');
                checkboxes.forEach(checkbox => {
                    checkbox.checked = false;
                });

                // Đặt lại giá trị của select box
                document.querySelector('select[name="field"]').selectedIndex = 0; // Giả sử tùy chọn đầu tiên là "..."

                // Gọi hàm applyFilter để cập nhật giá trị ẩn
                applyFilter();
                
                // Đóng thanh lọc
                toggleFilterSidebar();
            }

            function handleCancelFilter() {
                // Bỏ chọn tất cả checkbox
                const checkboxes = document.querySelectorAll('input[name="rank[]"]');
                checkboxes.forEach(checkbox => {
                    checkbox.checked = false;
                });
            
                // Đặt lại giá trị của select box
                document.querySelector('select[name="field"]').selectedIndex = 0; // Giả sử tùy chọn đầu tiên là "..."
            
                // Gọi hàm applyFilter để cập nhật giá trị ẩn
                applyFilter();
                
                // Đóng thanh lọc
                toggleFilterSidebar();
            }
            
            function toggleFilterSidebar() {
                const sidebar = document.getElementById("filterSidebar");
                const filterToggle = document.querySelector(".filter-toggle");
                sidebar.classList.toggle("active");
                filterToggle.classList.toggle("hidden"); // Ẩn nút khi thanh lọc hiển thị
            }
        </script>
        
        
            <marquee behavior="scroll" direction="left" style="color: white; font-size: 17px; padding: 10px;">
                Welcome to the Scientific Papers Conference Suggestions website
            </marquee>
        
            <!-- Overlay làm mờ nền -->
            <div id="overlay"></div>

            <!-- Hộp thông báo lỗi -->
            <div id="error-message-box">
                <strong><p style="font-size:1.2rem; text-shadow:none; margin-top:5px">Please fill in both Title and Abstract before searching.</p></strong>
                <button id="close-btn" onclick="closeErrorMessage()" style="font-size:1rem"><b>Close</b></button>
            </div>
        
            <form id="titleForm" method="POST" action="/recommend">
                <div class="search-container">
                    <input type="text" id="input1" name="title_input" placeholder="Enter the title of the article..." required>
                    <button type="submit" class="search-button" title="Search with Title">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <input type="hidden" id="hiddenRanksTitle" name="ranks">
                <input type="hidden" id="hiddenFieldTitle" name="selected_field">
            </form>
            
            <!-- Form tìm kiếm theo abstract -->
            <form id="abstractForm" method="POST" action="/recommend_abstract" onsubmit="applyFilter()">
                <div class="search-container2">
                    <textarea style="resize: none; font-family: Arial, sans-serif" id="input2" name="abstract_input" placeholder="Enter the abstract of the article..." required rows="4" cols="50"></textarea>
                    <button type="submit" class="search-button2" title="Search with Abstract">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
                <input type="hidden" id="hiddenRanksAbstract" name="ranks">
                <input type="hidden" id="hiddenFieldAbstract" name="selected_field">
            </form>

            <div class="search-container3">
                <button type="button" class="search-button-both" title="Search with Title and Abstract" onclick="searchBoth()">
                    <i class="fa fa-search"></i>
                    Search Both
                </button>
            </div>
        </div>
        
        <script>
            function searchBoth() {
                const titleInput = document.getElementById('input1').value.trim();
                const abstractInput = document.getElementById('input2').value.trim();
                const overlay = document.getElementById('overlay');
                const errorMessageBox = document.getElementById('error-message-box');
            
                // Kiểm tra xem cả hai ô input có dữ liệu hay không
                if (titleInput === "" || abstractInput === "") {
                    overlay.style.display = 'block'; // Hiển thị overlay làm mờ nền
                    errorMessageBox.style.display = 'block'; // Hiển thị hộp thông báo lỗi
            
                    // Vô hiệu hóa cuộn trang
                    document.body.style.overflow = 'hidden';
                } else {
                    overlay.style.display = 'none'; // Ẩn overlay nếu đủ dữ liệu
                    errorMessageBox.style.display = 'none'; // Ẩn hộp thông báo lỗi nếu đủ dữ liệu
            
                    // Tạo form ẩn để gửi dữ liệu tìm kiếm
                    const form = document.createElement('form');
                    form.method = 'POST';
                    form.action = '/recommend_both'; // URL cho tìm kiếm theo cả tiêu đề và abstract
            
                    // Truyền title_input, abstract_input, ranks và selected_field vào form ẩn
                    const inputTitle = document.createElement('input');
                    inputTitle.type = 'hidden';
                    inputTitle.name = 'title_input';
                    inputTitle.value = titleInput;
                    form.appendChild(inputTitle);
            
                    const inputAbstract = document.createElement('input');
                    inputAbstract.type = 'hidden';
                    inputAbstract.name = 'abstract_input';
                    inputAbstract.value = abstractInput;
                    form.appendChild(inputAbstract);
            
                    const ranks = document.getElementById('hiddenRanksTitle').value;
                    const inputRanks = document.createElement('input');
                    inputRanks.type = 'hidden';
                    inputRanks.name = 'ranks';
                    inputRanks.value = ranks;
                    form.appendChild(inputRanks);
            
                    const selectedField = document.getElementById('hiddenFieldTitle').value;
                    const inputField = document.createElement('input');
                    inputField.type = 'hidden';
                    inputField.name = 'selected_field';
                    inputField.value = selectedField;
                    form.appendChild(inputField);
            
                    document.body.appendChild(form);
                    form.submit(); // Gửi form
                }
            }
            
            // Hàm đóng hộp thông báo lỗi
            function closeErrorMessage() {
                document.getElementById('overlay').style.display = 'none'; // Ẩn overlay
                document.getElementById('error-message-box').style.display = 'none'; // Ẩn hộp thông báo
        
                // Khôi phục cuộn trang
                document.body.style.overflow = 'auto';
            }

            
            // Hàm toggle để hiển thị/ẩn các bài báo và cuộn màn hình
            function toggleArticles() {
                const articlesList = document.getElementById('articlesList');
                if (articlesList.style.display === "none" || articlesList.style.display === "") {
                    articlesList.style.display = "block";
                    document.getElementById('toggleArticles').innerHTML = '<i class="fa fa-chevron-up"></i>'; // Thay đổi biểu tượng thành mũi tên chỉ lên
                    // Cuộn đến danh sách bài báo
                    articlesList.scrollIntoView({ behavior: 'smooth' });
                } else {
                    articlesList.style.display = "none";
                    document.getElementById('toggleArticles').innerHTML = '<i class="fa fa-chevron-down"></i>'; // Thay đổi biểu tượng thành mũi tên chỉ xuống
                }
            }
        </script>

        <div>
            <button id="toggleArticles" class="toggle-button" onclick="toggleArticles()">
                <i class="fa fa-chevron-down"></i> <!-- Biểu tượng mũi tên chỉ xuống -->
            </button>
            <p id="toggleArticles" onclick="toggleArticles()" class="toggle">
                <u>Some reference articles</u></p>
        </div>
    </div>

    <div id="articlesList" style="display: none; padding:20px"> <!-- Ẩn danh sách bài báo ban đầu -->
        <h2 style="margin-top:0px;padding-left:10px">Reference Articles</h2>
        {% if articles %}
            <ul>
                {% for article in articles %}
                <li style="padding-top:5px;border:none">
                    <strong>
                        <a style="text-decoration: none;
                                color: inherit;
                                font-size: inherit;
                                padding: 10px;
                                margin-top: 10px;
                                margin-bottom: 10px"
                            href="{{ url_for('find_conference', article_id=loop.index0) }}" title="Click to find suggested conferences">
                            {{ article['Title'] }}</a>
                    </strong><br>
                    {# <em>Mã số: {{ article.get('ERAID', 'N/A') }}</em><br> #}
                    {{ article['Abstract'] }}<br>
                    <hr>
                </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>There are no articles to display!</p>
        {% endif %}
    </div>

    <footer>
        <div class="footer-content">
            <div class="footer-left">
                <img style="height:70px; width:70px;" src="{{ url_for('static', filename='image/LG.ico') }}" alt="Logo">
            </div>
            <div class="footer-right">
                <!-- Các liên kết mạng xã hội -->
                <div class="socials" style="color:white">
                    <a href="https://www.facebook.com" style="margin-right: 15px;"><i class="fab fa-facebook"></i></a>
                    <a href="https://www.instagram.com"><i class="fab fa-instagram"></i></a>
                </div>
            </div>
        </div>
        <div class="footer-content2">
            <a style="font-size:17px; background: none; border: none;display: inline; margin-top: 0px;"
                href="/about">About</a>
            <a style="font-size:17px; background: none; border: none;display: inline; margin-top: 0px;"
                href="/legal">Legal</a>
            <a style="font-size:17px; background: none; border: none;display: inline; margin-top: 0px;"
                href="/contact">Contact</a>
        </div>

        <div class="footer-text" style="text-align: center; margin-top: 5px;">
            <p style="color:#bebebe">GatherConf is powered by the research community. And it’s free, now and forever.</p>
            <p style="color:#bebebe">&copy; 2024 Conference Suggestions. Designed by GatherConf Group. All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
